<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="/">AcceSories_pLaZaA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
    <form class="d-flex " role="search">
      <button class="btn btn-outline-success me-3" routerLink="login">Login</button>
      <button class="btn btn-outline-danger me-3" routerLink="login">Logout</button>
    </form>
  </div>
</nav>
<router-outlet />

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a routerLink="menu" class="nav-link px-2 text-body-secondary">Menu</a></li>
      <li class="nav-item"><a routerLink="about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</div>