<div class='home'>
    <div class="card text-bg-dark text-white border-0" >
        <img src="../../../assets/bg.jpg" class="card-img" alt="background" height="600px" width="100%"/>
        <div class="card-img-overlay d-flex flex-column justify-content-center">
            <div class="container" >
                <h5 class="card-title display-3 fw-bolder mb-0 fst-italic ">New Arrivals</h5>
                <p class="card-text lead fs-2 fst-italic text-muted fw-bold ">Check out all the trending items...</p>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
    <router-outlet></router-outlet>